* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background:white;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background: white;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h4 {
    color: red;
    font-size: 14px;
}

.hero-text h1 {
    font-size: 40px;
    margin: 15px 0;
}

.hero-text span {
    color: #0047ab;
}

.hero-text p {
    margin-bottom: 25px;
    color: #555;
}


.btn {
    padding: 10px 20px;
    background: red;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.btn.outline {
    background: transparent;
    color: red;
    border: 2px solid red;
}


.hero-img img {
    width: 500px;
}


.page {
    padding: 80px;
}
